.main{
    display: flex;
    height: 80vh;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    color: rgb(211, 211, 211);
    text-align: center;
}

.body{
    width: 72rem;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    padding: 10rem;
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 20px;
    border:1px solid rgba(255, 255, 255, 0.18);
}

.body p{
    font-size: 1.2rem;
    margin-right: 1rem;
    font-weight: 700;
}

.body span{
    opacity: 0.2;
}

.background {
    position: fixed; /* Keeps the background fixed */
    top: 0;
    left: 0;
    width: 100vw; /* Ensure it spans the entire viewport width */
    height: 100vh; /* Ensure it spans the entire viewport height */
    background-image: url('/backgrounds/herobg.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; /* Ensures it covers the entire area proportionally */
    z-index: -1; /* Keeps it behind the content */
    transform: translateZ(0); /* Improves performance by enabling GPU rendering */
    will-change: transform; /* Optimizes performance further */
    opacity: 1;
  }
  
  

  @media (max-width: 768px) {
   .main{
    margin-top:-12rem;
   }
    .body {
      text-align: center;
      width: 24rem;
      padding: 3rem;
      display: flex;
      height: 70%;
      justify-content: center; /* Center items vertically */
      align-items: center; /* Center items horizontally */
      gap: 1rem; /* Add controlled spacing between lines */
    }
    .body p {
      font-size: 1rem;
      font-weight: 700;
      margin: 0; /* Remove default margin to reduce gaps */
      line-height: 1.2; /* Tighten the line height for smaller screens */
    }
  }
  