.modalContainer{
    height: 350px;
    width: 400px;
    position: absolute;
    background-color: white;
    overflow: hidden;
    pointer-events: none;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(255, 255, 255, 0.1); /* Use a simpler transparent background */
  backdrop-filter: blur(5px); /* Reduced blur intensity for better performance */
  -webkit-backdrop-filter: blur(5px);
  border-radius: 15px; /* Slightly smaller radius for better rendering */
  border: 1px solid rgba(255, 255, 255, 0.1); /* Lighter border for reduced complexity */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Add a subtle shadow for depth */

}

.modalSlider{
    height: 100%;
    width: 100%;
    position: absolute;
    transition: top 0.5s cubic-bezier(0.76, 0, 0.24, 1);
}

.modal{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal img{
    height: auto;
}

.cursor, .cursorLabel{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: #03bcf4;
    color: white;
    position: absolute;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    font-weight: 300;
    pointer-events: none;
}

.cursorLabel{
    background-color: transparent;
}