.header{
    position: absolute;
    top: 26px;
    right: 10px;
    display: block; // visible by default

    @media (min-width: 768px) { // Adjust 768px as needed for your 'md' breakpoint
      display: none; // hidden on md and larger screens
    }
}
.menu{
  
    background: rgba(255, 255, 255, 0.1); /* Use a simpler transparent background */
  backdrop-filter: blur(30px); /* Reduced blur intensity for better performance */
  -webkit-backdrop-filter: blur(30px);
 
  border: 1px solid rgba(255, 255, 255, 0.1); /* Lighter border for reduced complexity */

z-index: 5;
   
    position: relative;
      will-change: transform, width, height;
}